[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = http://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim/bundle/ctrl.p"]
	path = vim/bundle/ctrl.p
	url = http://github.com/kien/ctrlp.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = http://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = http://github.com/majutsushi/tagbar
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
